@font-face {
    font-family: "Klasik";
    src: url("fonts/Klasik Regular.otf");
}

.title {
    font-family: "Klasik";
    /* font-family: "Stardos Stencil", cursive; */
    /* font-size: 6rem; */
    /* margin-top: 0.6rem; */
    /* margin-bottom: 0; */
    text-align: center;
    font-size: calc(1.5em + 5.6vw);
}

body {
    /* font-family: arial; */
    margin: 0;
    word-wrap: break-word;
}

.container {
    max-width: 100%;
}

.buttonWrap {
    position: absolute;
    left: 5%;
    padding-bottom: 0 !important;
    padding-top: 6px !important;
}

.btn {
    font-size: 1.2em;
}

.navChild {
    display: flex;
    margin: 1px;
    padding: 5px;
}

.navCont {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.centerH {
    text-align: center;
}

::selection {
    background: #9ee6fa;
}

hr.dashed {
    border-top: 2px dashed rgb(0, 0, 0);
    background-color: transparent;
}

@media (max-width: 767px) {
    .btn {
        font-size: 0.7em;
        padding: 0.2rem 0.4rem;
    }
    .buttonWrap {
        left: 2%;
    }
}