@import "tailwindcss";

@theme {
  --font-itim: "Itim", "sans-serif";
  --font-klasik: "Klasik", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --color-yellow: #ffbf00;
  --color-green1: #89bfa3;
  --color-green2: #5d8f75;
  --color-blue1: #8fbacc;
  --color-blue2: #4d8da8;
  --color-red1: #fea49a;
  --color-red2: #db6d60;
  --color-pink: #f1b9b7;
}

@layer components {
  .btn {
    @apply font-medium  text-xl duration-300 transition-colors cursor-pointer px-6 py-2 rounded-2xl flex items-center shadow-md shadow-gray-400/50;
  }
  .btn-secondary {
    @apply cursor-pointer  px-4 py-1 rounded-2xl w-auto font-bold text-xs sm:text-base whitespace-nowrap;
  }
  .card {
    @apply rounded-xl p-4 flex flex-col gap-3 items-start mb-4 break-inside-avoid   border-2;
  }
  .card-title {
    @apply font-bold text-xl sm:text-2xl text-black flex;
  }
  .card-subtitle {
    @apply font-medium text-xl text-black;
  }

  .card-header {
    @apply flex justify-between w-full flex-row items-center;
  }

  .card-content {
    @apply flex flex-col text-black;
  }
  .card-footer {
    @apply flex flex-col text-black;
  }
  .value {
    @apply font-bold;
  }
}

@font-face {
  font-family: "Klasik";
  font-display: swap;
  src: url("/fonts/Klasik-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src:
    url("/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.icon {
  width: auto;
  height: 1em !important;
  vertical-align: -0.125em;
  overflow: visible;
}

.toggle-indicator-container {
  display: inline-flex;
  gap: 4px;
  margin-left: 8px;
  margin-right: 4px;
}
.toggle-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d5db;
  transition: background-color 0.3s;
}
.toggle-indicator.active {
  background-color: #10b981;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.tooltip.hidden {
  display: none;
}
