@import "tailwindcss";

@theme {
  --font-klasik: "Klasik", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
}

@layer components {
  .btn {
    @apply font-medium duration-300 cursor-pointer px-6 py-[14px] flex flex-row items-center text-lg border-3 rounded hover:-translate-y-px hover:-translate-x-px z-20 relative;
  }
  .btn-secondary {
    @apply cursor-pointer flex items-center justify-center  px-4 py-1 rounded-sm  transition duration-200 border-3 border-gray-900 hover:-translate-y-px hover:-translate-x-px;
  }
  .card {
    @apply shadow-md rounded-2xl p-4 flex flex-col gap-3 items-start mb-4 break-inside-avoid  border-gray-900 shadow-gray-400;
  }
  .card-title {
    @apply flex gap-2 items-center text-2xl;
  }
  .card-subtitle {
    @apply font-medium text-black/75 text-xl;
  }

  .card-content {
    @apply flex flex-col text-gray-800;
  }
  .card-footer {
    @apply flex flex-col text-gray-800;
  }
  .value {
    @apply font-bold;
  }
}

@font-face {
  font-family: "Klasik";
  font-display: swap;
  src: url("/fonts/Klasik-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.icon {
  width: auto;
  height: 1em !important;
  vertical-align: -0.125em;
  overflow: visible;
}
